body {
    background-color: #21212E;
    /* margin: 0 3%; */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
/* Header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #21212E;
    padding: 0 20px;
    z-index: 1;
}
.main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 137px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.logo {
    background-image: url(../images/logo.svg);
    max-width: 326px;
    width: 100%;
    min-height: 137px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 50px;
}
.links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
    text-transform: uppercase;    
}
.links li a {
    color: #fff;
    font-size: 17px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    line-height: 55px;
}
.nav-link:hover {
    text-shadow: 0px 0px 2px white, 0 0 25px blue, 0 0 5px #BD11FA;    
}
.buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 250px;
    width: 100%;
}
.buttons button {
    border-radius: 10px;
    border-style: solid;
    border-color: #46C2FF;
    color: #46C2FF;
    background-color:#21212E;
    height: 56px;
    max-width: 185px;
    width: 45%;
    -webkit-transition-duration: 300ms;
         -o-transition-duration: 300ms;
            transition-duration: 300ms;
    font-size: 20px;
}
button:hover {
    background: -webkit-gradient(linear,left top, right bottom,from(#46C2FF), to(#BD11FA));
    background: -o-linear-gradient(top left,#46C2FF, #BD11FA);
    background: linear-gradient(to bottom right,#46C2FF, #BD11FA);
    -webkit-box-shadow: 0 0 30px 5px #BD11FA;
            box-shadow: 0 0 30px 5px #BD11FA;
    border-style: none;
    color: #fff;
}

/* Nav-toggle */
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
/* Nav-toggle end */

.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 850px;
    margin-top: 170px;
    padding: 0 20px;
}
.title-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 300px;
}
.title-text h3 {
    font-size:20px; 
    letter-spacing: 3px; 
    line-height: 30px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 18px;
}
.title-text h1 {
    font-size: 78px;
    color: #46C2FF;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 53px;
}
.title-image {
    background-image: url(..//images/Ellipse.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 814px;
    width: 100%;
    max-height: 814px;
}
.title-text button {
    max-width: 279px;
    width: 100%;
    height: 80px;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
    background-color: #46C2FF;
}
.events:hover{
    -webkit-box-shadow: 0 0 30px 5px #BD11FA;
            box-shadow: 0 0 30px 5px #BD11FA;
}
/* Event start */
.event-sect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.event-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* align-items: center; */
    margin-top: 255px;
    margin-bottom: 196px;
    /* max-width: 1640px; */
    width: 80%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.event-left {
    background-image: url(../images/events.png);
    position: relative;
    max-width: 662px;
    width: 100%;
    min-height: 769px;
    background-position: center;
    margin-bottom: 30px;
}
.img-child {
    position: absolute;
    min-height: 228px;
    bottom: 0;
    left: 0;
    background-color: grey;
    opacity: 0.8;
}
.event-child-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-left: 3%;
}
.img-child h3 {
    font-size: 48px;
    color: #fff;
}
.img-child h6 {
    color: #46C2FF;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 35px;
    text-align: end;
    margin-right: 3%;
}
.img-child p {
    font-size: 20px;
    line-height: 35px;
    color: #fff;
    margin: 0 3%;
}
.event-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 882px;
    width: 100%;
}
/* .event-title-wrapper {
    background-color: #46C2FF;
    opacity: 0.1;     
} */
.event-title {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #46C2FF;

}
.event-tile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    min-height: 91px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #20202C;
    -webkit-box-shadow: 0 0 40px #000000;
            box-shadow: 0 0 40px #000000;
    margin-bottom: 20px;
}
.event-tile h4 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
}
.event-tile h6 {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #46C2FF;
}
.event-date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 165px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.event-date h3 {
    font-size: 55px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #BD11FA;
}
.event-date h5 {
    font-size: 17px;
    color: #46C2FF;
}
.event-date h6 {
    color: #46C2FF;
}
.event-button {
    width: 159px;
    height: 91px;
    border-style: solid;
    border-color: #46C2FF;
    color: #46C2FF;
    background-color:#21212E;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 91px;
    text-align: center;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}
.event-button:hover {
    background: -webkit-gradient(linear,left top, right bottom,from(#46C2FF), to(#BD11FA));
    background: -o-linear-gradient(top left,#46C2FF, #BD11FA);
    background: linear-gradient(to bottom right,#46C2FF, #BD11FA);
    /* background-color: red; */
    color: #fff;
}
.arrows {
    width: 100%;
    height: 61px;
}



/* Artist slider */
.slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.slider .slider_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 512px;
    height: 350px;
    margin:30px;
    background-color: #20202C;
    border-style: none;
    -webkit-box-shadow: 0 0 10px 1px black;
            box-shadow: 0 0 10px 1px black;
    border-radius: 5px;
}
.slider_item_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    /* width: 512px; */
    width: 100%;
    /* height: 64px; */
}
.slider_item_title h4 {
    color: #46C2FF;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 35px;
}
.slider_item_title h5 {
    color: #46C2FF;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    line-height: 35px;
}
.slider_item h3 {
    color: #fff;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin-left: 36px;
    margin-bottom: 10px;
    /* line-height: 35px; */
}
.slider_item p {
    max-width: 370px;
    width: 100%;
    text-align: left;
    margin-left: 36px;
    color: #fff;
    width: 300px;
    margin-bottom: 20px;
}
.slider .slider_item img {
    top: 0;
    width: 100%;
    height: 100%;
    /* display: block; */
    -o-object-fit: contain;
       object-fit: contain;
}

/* Subscribe section */
.subs-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 354px;
    background-image: url(../images/subs.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.subs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    height: 228px;
    background-color: #262635;
}
.subs-text {
    margin: 30px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.subs-text h4 {    
    font-size: 36px;    
    font-weight: 800;
    margin-bottom: 10px;
}
.subs-text p {
    font-size: 23px;
    font-weight: 300;
}
.sub-form {
    max-width: 802px;
    width: 100%;
    height: 80px;
    /* margin: 30px; */
}
.inp-form {
    height: 80px;
    width: 70%;
    text-align: center;
    font: normal normal normal 20px/20px Poppins;
}
.inp-form::-webkit-input-placeholder {
    opacity: 0.5;
    font: normal normal normal 20px/20px Poppins;
    margin-left: 30px;
}
.inp-form::-moz-placeholder {
    opacity: 0.5;
    font: normal normal normal 20px/20px Poppins;
    margin-left: 30px;
}
.inp-form:-ms-input-placeholder {
    opacity: 0.5;
    font: normal normal normal 20px/20px Poppins;
    margin-left: 30px;
}
.inp-form::-ms-input-placeholder {
    opacity: 0.5;
    font: normal normal normal 20px/20px Poppins;
    margin-left: 30px;
}
.inp-form::placeholder {
    opacity: 0.5;
    font: normal normal normal 20px/20px Poppins;
    margin-left: 30px;
}
.sub-form button {
    max-width: 25%;
    width: 100%;
    height: 80px;
    font-size: 1.5vw;
    font-weight: 500;
    color: #46C2FF;
    border-style: solid;
    border-color: #46C2FF;
    background-color: #262635;
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* About cloobin section */
.about-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    min-height: 780px;
    background: -webkit-gradient(linear,left top, right bottom,from(#46C2FF), to(#BD11FA));
    background: -o-linear-gradient(top left,#46C2FF, #BD11FA);
    background: linear-gradient(to bottom right,#46C2FF, #BD11FA);
}
.about-left {
    max-width: 60%;
}
.about-left h3 {
    font-size: 45px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}
.about-left p {
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 50px;
}
.about-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.discoballs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 400px;
    width: 100%;
    height: 410px;
    background-image: url(../images/discoball-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.apps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
}
.apps a {
    margin: 0 10px;
}



/* Artist register */
.artist-reg-bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(../images/artist-reg-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 919px;
}
.artist-reg-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1380px;
    width: 100%;
    height: 60%;
    background-color: #162640;
}
.artist-reg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1288px;
    width: 100%;
    height: 70%;
}
.artist-reg h3 {
    font-size: 55px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    color: #46C2FF;
    margin-bottom: 30px;
}
.artist-reg p {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
.artist-reg-btn {
    border-radius: 10px;
    border-style: solid;
    border-color: #46C2FF;
    color: #46C2FF;
    background-color:#21212E;
    height: 80px;
    max-width: 280px;
    width: 45%;
    /* transition-duration: 100ms; */
    font-size: 20px;    
}
.artist-reg-btn:hover {
    -webkit-box-shadow: 0 0 10px 5px #BD11FA;
            box-shadow: 0 0 10px 5px #BD11FA;
}

/* Contacts */
.contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-height: 780px;
    background: -webkit-gradient(linear,left top, right bottom,from(#46C2FF), to(#BD11FA));
    background: -o-linear-gradient(top left,#46C2FF, #BD11FA);
    background: linear-gradient(to bottom right,#46C2FF, #BD11FA);
}
.contacts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1595px;
    width: 80%;
    min-height: 535px;
}
.contacts-wrapper h3 {
    font-size: 45px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    color: #283C5C;
    margin-bottom: 50px;
}
.contacts-wrapper p {
    font-size: 23px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: #283C5C;
    margin-bottom: 30px;
}
.contacts-btn {
    border-radius: 10px;
    border-style: solid;
    border-color: #46C2FF;
    color: #46C2FF;
    background-color:#21212E;
    height: 80px;
    max-width: 280px;
    width: 45%;
    /* transition-duration: 100ms; */
    font-size: 32px;
}
.contacts-btn:hover {
    /* box-shadow: 0 0 40px 10px #BD11FA; */
    -webkit-box-shadow: 0 0 10px 2px #21212E, 0 0 30px 10px #BD11FA;
            box-shadow: 0 0 10px 2px #21212E, 0 0 30px 10px #BD11FA;    ;
}

/* Footer */
footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 660px;
}
.footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    min-height: 600px;
}
.footer-logo {
    background-image: url(../images/logo.svg);
    max-width: 326px;
    width: 100%;
    min-height: 137px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
}
footer h5 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #46C2FF;
    margin-bottom: 15px;
}
.footer-contact {
    max-width: 170px;
    min-height: 100px;
}
.footer-contact ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #46C2FF;
}
.footer-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color:#46C2FF;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-color: #46C2FF;
    border-radius: 20px;
}
.footer-links {
    max-width: 120px;
    width: 100%;
    min-height: 224px;
}
.footer-links ul li {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.footer-about {
    max-width: 310px;
}
.footer-about p {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
    color: #fff;
}
.copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    color: #fff;
}



@media (max-width: 1200px) {
    .title-image {
        display: none;
    }
    .event-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .event-tile h6 {
        display: none;
    }
    .subs {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }    
}

@media (max-width: 800px) {
    .event-tile {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

@media (max-width: 500px) {
    .discoballs {
        display: none;
    }
    .about-left img {
        display: none;
    }
    .apps {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .slider_item p {
        max-width: 180px;
    }
}


@media screen and (max-width: 1200px) {
	nav .logo {
		float: none;
		/* width: auto; */
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: space-evenly;
		    -ms-flex-pack: space-evenly;
		        justify-content: space-evenly;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
		background-color: #21212E;
		overflow: hidden;
		-webkit-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		-webkit-transform: translateY(10px) rotate(225deg);
		    -ms-transform: translateY(10px) rotate(225deg);
		        transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		-webkit-transform: translateY(-10px) rotate(-225deg);
		    -ms-transform: translateY(-10px) rotate(-225deg);
		        transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}	
}