
body {
    background-color: #21212E;
    /* margin: 0 3%; */
    justify-content: center;
}
/* Header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #21212E;
    padding: 0 20px;
    z-index: 1;
}
.main-nav {
    display: flex;
    height: 137px;
    justify-content: space-around;
    align-items: center;
}
.logo {
    width: 326px;
    margin-right: 100px;
}
.nav-ul {
    display: flex;
    vertical-align: bottom;
    justify-content: space-between;
    width: 30%;
    text-transform: uppercase;    
}
.nav-ul li a {
    color: #fff;
    font-size: 17px;
    font-weight: 800;
    font-family: Poppins;
    line-height: 26px;
}
.nav-link:hover {
    text-shadow: 0px 0px 2px white, 0 0 25px blue, 0 0 5px #BD11FA;    
}
.buttons {
    display: flex;
    justify-content: space-between;
    max-width: 25%;
    width: 100%;
}
.buttons button {
    border-radius: 10px;
    border-style: solid;
    border-color: #46C2FF;
    color: #46C2FF;
    background-color:#21212E;
    height: 56px;
    max-width: 185px;
    width: 45%;
    transition-duration: 300ms;
    font-size: 20px;
}
button:hover {
    background: linear-gradient(to bottom right,#46C2FF, #BD11FA);
    box-shadow: 0 0 30px 5px #BD11FA;
    border-style: none;
    color: #fff;
}
.title {
    display: flex;
    justify-content: space-around;
    height: 850px;
    margin-top: 170px;
    padding: 0 20px;
}
.title-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    min-width: 300px;
}
.title-text h3 {
    font-size:20px; 
    letter-spacing: 3px; 
    line-height: 30px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 18px;
}
.title-text h1 {
    font-size: 78px;
    color: #46C2FF;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 53px;
}
.title-image {
    background-image: url(..//images/Ellipse.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 814px;
    width: 100%;
    max-height: 814px;
}
.title-text button {
    max-width: 279px;
    width: 100%;
    height: 80px;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
    background-color: #46C2FF;
}
.events:hover{
    box-shadow: 0 0 30px 5px #BD11FA;
}
/* Event start */
.event-sect {
    display: flex;
    justify-content: center;
    align-items: center;
}
.event-wrapper {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 255px;
    margin-bottom: 196px;
    /* max-width: 1640px; */
    width: 80%;
    flex-wrap: wrap;
}
.event-left {
    background-image: url(../images/events.png);
    position: relative;
    max-width: 662px;
    width: 100%;
    min-height: 769px;
    background-position: center;
    margin-bottom: 30px;
}
.img-child {
    position: absolute;
    min-height: 228px;
    bottom: 0;
    left: 0;
    background-color: grey;
    opacity: 0.8;
}
.event-child-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 3%;
}
.img-child h3 {
    font-size: 48px;
    color: #fff;
}
.img-child h6 {
    color: #46C2FF;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 35px;
    text-align: end;
    margin-right: 3%;
}
.img-child p {
    font-size: 20px;
    line-height: 35px;
    color: #fff;
    margin: 0 3%;
}
.event-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 882px;
    width: 100%;
}
/* .event-title-wrapper {
    background-color: #46C2FF;
    opacity: 0.1;     
} */
.event-title {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #46C2FF;

}
.event-tile {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 91px;
    align-items: center;
    justify-content: space-between;
    background-color: #20202C;
    box-shadow: 0 0 40px #000000;
    margin-bottom: 20px;
}
.event-tile h4 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
}
.event-tile h6 {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #46C2FF;
}
.event-date {
    display: flex;
    width: 165px;
    flex-wrap: wrap;
    align-items: center;
}
.event-date h3 {
    font-size: 55px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #BD11FA;
}
.event-date h5 {
    font-size: 17px;
    color: #46C2FF;
}
.event-date h6 {
    color: #46C2FF;
}
.event-button {
    width: 159px;
    height: 91px;
    border-style: solid;
    border-color: #46C2FF;
    color: #46C2FF;
    background-color:#21212E;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 91px;
    text-align: center;
    transition: 500ms;
}
.event-button:hover {
    background: linear-gradient(to bottom right,#46C2FF, #BD11FA);
    /* background-color: red; */
    color: #fff;
}
.arrows {
    width: 100%;
    height: 61px;
}



/* Artist slider */
.slider {
    display: flex;
}
.slider .slider_item {
    display: flex;
    flex-direction: column;
    width: 512px;
    height: 350px;
    margin:30px;
    background-color: #20202C;
    border-style: none;
    box-shadow: 0 0 10px 1px black;
    border-radius: 5px;
}
.slider_item_title {
    display: flex;
    justify-content: space-around;
    align-items: left;
    /* width: 512px; */
    width: 100%;
    /* height: 64px; */
}
.slider_item_title h4 {
    color: #46C2FF;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 35px;
}
.slider_item_title h5 {
    color: #46C2FF;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    line-height: 35px;
}
.slider_item h3 {
    color: #fff;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin-left: 36px;
    margin-bottom: 10px;
    /* line-height: 35px; */
}
.slider_item p {
    max-width: 370px;
    width: 100%;
    text-align: left;
    margin-left: 36px;
    color: #fff;
    width: 300px;
    margin-bottom: 20px;
}
.slider .slider_item img {
    top: 0;
    width: 100%;
    height: 100%;
    /* display: block; */
    object-fit: contain;
}

/* Subscribe section */
.subs-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 354px;
    background-image: url(../images/subs.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.subs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 228px;
    background-color: #262635;
}
.subs-text {
    margin: 30px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.subs-text h4 {    
    font-size: 36px;    
    font-weight: 800;
    margin-bottom: 10px;
}
.subs-text p {
    font-size: 23px;
    font-weight: 300;
}
.sub-form {
    max-width: 802px;
    width: 100%;
    height: 80px;
    /* margin: 30px; */
}
.inp-form {
    height: 80px;
    width: 70%;
    text-align: center;
    font: normal normal normal 20px/20px Poppins;
}
.inp-form::placeholder {
    opacity: 0.5;
    font: normal normal normal 20px/20px Poppins;
    margin-left: 30px;
}
.sub-form button {
    max-width: 25%;
    width: 100%;
    height: 80px;
    font-size: 1.5vw;
    font-weight: 500;
    color: #46C2FF;
    border-style: solid;
    border-color: #46C2FF;
    background-color: #262635;
    box-shadow: none;
}

/* About cloobin section */
.about-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 780px;
    background: linear-gradient(to bottom right,#46C2FF, #BD11FA);
}
.about-left {
    max-width: 60%;
}
.about-left h3 {
    font-size: 45px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}
.about-left p {
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 50px;
}
.about-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.discoballs {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    height: 410px;
    background-image: url(../images/discoball-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.apps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.apps a {
    margin: 0 10px;
}



/* Artist register */
.artist-reg-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/artist-reg-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 919px;
}
.artist-reg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1380px;
    width: 100%;
    height: 60%;
    background-color: #162640;
}
.artist-reg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1288px;
    width: 100%;
    height: 70%;
}
.artist-reg h3 {
    font-size: 55px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    color: #46C2FF;
    margin-bottom: 30px;
}
.artist-reg p {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
.artist-reg-btn {
    border-radius: 10px;
    border-style: solid;
    border-color: #46C2FF;
    color: #46C2FF;
    background-color:#21212E;
    height: 80px;
    max-width: 280px;
    width: 45%;
    /* transition-duration: 100ms; */
    font-size: 20px;    
}
.artist-reg-btn:hover {
    box-shadow: 0 0 10px 5px #BD11FA;
}

/* Contacts */
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 780px;
    background: linear-gradient(to bottom right,#46C2FF, #BD11FA);
}
.contacts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 1595px;
    width: 80%;
    min-height: 535px;
}
.contacts-wrapper h3 {
    font-size: 45px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    color: #283C5C;
    margin-bottom: 50px;
}
.contacts-wrapper p {
    font-size: 23px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: #283C5C;
    margin-bottom: 30px;
}
.contacts-btn {
    border-radius: 10px;
    border-style: solid;
    border-color: #46C2FF;
    color: #46C2FF;
    background-color:#21212E;
    height: 80px;
    max-width: 280px;
    width: 45%;
    /* transition-duration: 100ms; */
    font-size: 32px;
}
.contacts-btn:hover {
    /* box-shadow: 0 0 40px 10px #BD11FA; */
    box-shadow: 0 0 10px 2px #21212E, 0 0 30px 10px #BD11FA;    ;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 660px;
}
.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: orange;
    max-width: 90%;
}
.footer-logo {
    background-image: url(../images/logo.svg);
    max-width: 326px;
    width: 100%;
    min-height: 137px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.footer {
    display: flex;
    justify-content: space-between;
}
footer h5 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #46C2FF;
    margin-bottom: 15px;
}
.footer-contact {
    max-width: 170px;
    min-height: 100px;
}
.footer-contact ul {
    display: flex;
    justify-content: space-between;
    color: #46C2FF;
}
.footer-icon {
    background-color:beige;
    width: 40px;
    height: 40px;
    border-style: solid;
    color: #000;
    border-radius: 5px;
}




@media (max-width: 1200px) {
    .title-image {
        display: none;
    }
    .event-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .event-tile h6 {
        display: none;
    }
    .subs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    
}

@media (max-width: 800px) {
    .event-tile {
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .discoballs {
        display: none;
    }
    .about-left img {
        display: none;
    }
    .apps {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .slider_item p {
        max-width: 180px;
    }
}