
body {
    background-color: #21212E;
}
/* Header */
.nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #21212E;
    padding: 0 20px;
}
.main-nav {
    display: flex;
    height: 137px;
    justify-content: space-around;
    align-items: center;
}
.logo {
    width: 326px;
    margin-right: 100px;
}
.nav-ul {
    display: flex;
    vertical-align: bottom;
    justify-content: space-between;
    width: 30%;
    text-transform: uppercase;    
}
.nav-ul li a {
    color: #fff;
    font-size: 17px;
    font-weight: 800;
    font-family: Poppins;
    line-height: 26px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    max-width: 25%;
    width: 100%;
}
.buttons button {
    border-radius: 10px;
    border-style: solid;
    border-color: #46C2FF;
    color: #46C2FF;
    background-color:#21212E;
    height: 56px;
    max-width: 185px;
    width: 45%;
    transition-duration: 100ms;
    font-size: 20px;
}
button:hover {
    background: linear-gradient(to bottom right,#46C2FF, #BD11FA);
    border-style: none;
    color: #fff;
}
.title {
    display: flex;
    justify-content: space-around;
    height: 850px;
    margin-top: 170px;
    padding: 0 20px;
}
.title-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.title-text h3 {
    font-size:20px; 
    letter-spacing: 3px; 
    line-height: 30px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 18px;
}
.title-text h1 {
    font-size: 78px;
    color: #46C2FF;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 53px;
}
.title-image {
    background-image: url(..//images/Ellipse.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 814px;
    width: 100%;
    max-height: 814px;
}
.title-text button {
    max-width: 279px;
    width: 100%;
    height: 80px;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
    background-color: #46C2FF;
}
.events:hover{
    box-shadow: 0 0 30px 5px #BD11FA;
}


/* Artist slider */
.slider {
    display: flex;
}
.slider .slider_item {
    display: flex;
    flex-direction: column;
    width: 512px;
    height: auto;
    margin:30px;
    background-color: #20202C;
    border-style: none;
    box-shadow: 0 0 10px 1px black;
    border-radius: 5px;
}
.slider_item_title {
    /* position: absolute; */
    display: flex;
    justify-content: space-around;
    align-items: left;
    width: 512px;
    width: 100%;
    height: 64px;
}
.slider_item_title h4 {
    color: #46C2FF;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 35px;
}
.slider_item_title h5 {
    color: #46C2FF;
    font-size: 16px;
    /* font-family: 'Mulish', sans-serif; */
    font-weight: 300;
    line-height: 35px;

}
.slider_item p {
    max-width: 370px;
    width: 100%;
    text-align: left;
    margin-left: 36px;
    color: #fff;

}
.slider .slider_item img {
    /* position: absolute; */
    margin-top: 64px;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}